body{
    font-family: 'Almendra', sans-serif;
    background-image: url("img/tlo.png");   /*link do strony z której pobrałem obrazek https://pl.pngtree.com/element/down?id=MzkwNTIyMg==&type=1&time=1665429381&token=NGRkYTM4ZDBhOGViNWIxYWIwOWZlODFkZWE5MmQ1Mjg=&t=0*/
    background-color: rgb(197, 227, 228);
}

form{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    height: 500px;
    font-size: 40px;
}

input[class="text"]{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: 40px;
    width: 200px;
    float: right;
    border-radius: 10px;
    font-size: 20px;
}

#task-frontend{
    width: 500px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 2px black;
    border-right: solid 2px black;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 10px;
    background-color: rgba(241, 240, 240, 0.993);
}

.basic-title{
    float: left;
    text-align: center;
    font-size: 40px;
    width: 500px;
    height: 50px;
    background-color: rgb(97, 98, 167);
    padding-top: 5px;
    padding-bottom: 5px;
}

.tile{
    float: left;
    width: 400px;
    height: 80px;
    background-color: rgb(206, 206, 207);
    border-radius: 40px;
    margin-bottom: 5px;
}

.tile2{
    float: left;
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 25px;
}

div.tile4{
    float: left;
    width: 400px;
    height: 160px;
    background-color: rgb(206, 206, 207);
}

div.tile span{
    float: left;
    width: 400px;
    height: 50px;
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 25px;
}

div.tile label{
    float:left;
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 25px;
    font-size: 30px;
}

div.tile input{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

input[type="submit"]{
    margin-top: 5px;
    height: 40px;
    width: 80px;
    float: right;
    border: 4px 4px 4px 4px black;
    font-size: 20px;
}
